@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";

.html,body{
  /* Para que funcione correctamente en Smartphones y Tablets */
  height:100vh;
  background-position: center;
}
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url(../images/logo7.jpg);
    background-size: cover;
}
.login-box{
  width: 280px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
}
.login-box h1{
  float: left;
  font-size: 40px;
  border-bottom: 6px solid #007ECE;
  margin-bottom: 50px;
  padding: 13px 0;
}
.textbox{
  width: 105%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid #007ECE;
}
.textbox i{
  width: 26px;
  float: left;
  text-align: center;
}
.textbox input{
  border: none;
  outline: none;
  background: none;
  color: white;
  font-size: 18px;
  width: 80%;
  float: left;
  margin: 0 10px;
}
input.btn{
  width: 100%;
  background: none;
  border: 2px solid #007ECE;
  color: white;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  margin: 12px 0;
}

.textbox:hover{
    background-color: #007ECE;
    border-radius: 18px;
    transform: translateY(-3px);
    overflow: hidden;
    transition: all 0.40s;
}
.btn:hover{
    background-color: #007ECE;
    border-radius: 10px;
    border: 2px solid #007ECE;
    overflow: hidden;
    transition: all 0.40s;
}


